@{
    ViewData["Title"] = "Homepage";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>This is a Web Application that receives input that allows you to compare the Square roots of two numbers</p>

    <p> Click the button below to continue.</p>

    <div class="compare">
        <button class="btn-con"><a class="proceed" href="https://localhost:5001/Home/Compare">Click to Proceed</a></button>

    </div>

    
</div>
