@{
    ViewData["Title"] = "Privacy";
}

<div class="text-center">
    <h1 class="display-4">Privacy</h1>
    <p>This page contains all your privacy content, agreements, Terms and Conditions.</p>

    <p><a href="https://localhost:5001/Home/Compare">Click here</a> to compare the square roots of two numbers.</p>
</div>
